<!DOCTYPE html>
<html lang="en">
<head>
<title>Shop pictures list</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div class="container">
		<h1>Pictures</h1>
		<div class="row col-md-6 table-responsive">
			<table id="customerTable" class="table table-striped">
				<thead>
					<tr>
						<th>Id</th>
						<th>Title</th>
						<th>Author</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>



		<!-- Modal Header -->
		<div class="modal-header">
			<h4 class="modal-title">Delete!</h4>
			<button type="button" class="close" data-dismiss="modal">&times;</button>
		</div>

	</div>
</body>
</html>